.container{
    margin: auto;
    width: 600px;
    height: 300px;
    border: 1px solid black;
}
.slide{
    width: 100%;
    height: 100%;
    border: 2px solid red;
    overflow:scroll ;
}
.slide-item{
    width: 100%;
    height: 100%;
    background-color: burlywood;
}